.container-tracking-tool  {
    border: 2px solid #2A5788;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    padding: 10px;
}

.container-tracking-tool .container-percent-line  {
    display: none;
    padding-left: 18px;
    padding-right: 18px;
}

.container-tracking-tool .percent-line-percent  {
    color: #A9A9AD;
    height: 20px;
}

.container-tracking-tool .percent-line span {
    display: block;
    float: right;
    margin-right: -10px;
}

.container-tracking-tool .percent-line .line  {
    height: 15px;
}

.container-tracking-tool .percent-line .line div  {
    border-right: 2px dashed #A9A9AD;
    height: 15px;
}

.container-tracking-tool h2  {
    font-weight: bold;
}

.container-tracking-tool .lets-get-started  {
    font-weight: bold;
}

.tracking-tool .tracking-tool-accordion-item {
    background-color: #E3E8EE;
    color: #516583;
    margin-top: 20px;
    outline: none;
    padding: 5px;
    text-align: left;
    transition: 0.4s;
    width: 100%;
}

.tracking-tool .tracking-tool-accordion-item:nth-child(1) {
    margin-top: 30px;
}

.tracking-tool .accordion-content  {
    color: #516583;
    padding-top: 10px;
}

.tracking-tool .tracking-tool-tree-icon  {
    cursor: pointer;
    display: inline-block;
    height: 15px;
    width: 15px;
}

.tracking-tool .learning-objective-title  {
    display: inline-block;
}

.tracking-tool .learning-objective-title a:link  {
    margin-left: 20px;
    text-decoration: underline;
}

.tracking-tool .tracking-tool-panel {
    background-color: white;
    display: none;
    overflow: hidden;
    padding: 0 18px;
}

.tracking-tool .tracking-tool-progress-container {
    background-color: #A9A9AD;
    border: 2px solid #7D878D;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 10px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.tracking-tool .tracking-tool-progress-container .target-line {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #EDEDEE;
    border-radius: 5px;
    z-index: 0;
}

.tracking-tool .tracking-tool-progress-container .target-line-reached {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #97D312;
    border-radius: 5px;
}

.tracking-tool .tracking-tool-progress-container .progress-bar {
    background-color: #EA4052;
    border-radius: 5px 5px 5px;
    color: white;
    line-height: 30px;
    height: 100%;
    min-width: auto;
    position: relative;
    text-align: center;
    z-index: 100;
}

.tracking-tool .tracking-tool-progress-container .progress-bar-percentage-completed  {
    height: 100%;
    background-color: #97D312;
    text-align: center;
    line-height: 30px;
    color: white;
    border-radius: 5px 0 0 5px;
}

.tracking-tool .accordion-content .percentage  {
    color: #2A5788;
    font-weight: bold;
    margin-left: 10px;
}

.tracking-tool .count-courses  {
    float: right;
}

.tracking-tool .last-visited.triangle  {
    border-bottom: 20px solid transparent;
    border-right: 20px solid #3c5470;
    float: right;
    height: 0;
    margin-right: -17px;
    margin-top: -18px;
    width: 0;
}

.tracking-tool .tooltiptext .last-visited.triangle  {
    border-bottom: 12px solid transparent;
    border-right: 12px solid #3c5470;
    height: 0;
    margin-right: 0;
    margin-top: 0;
    width: 0;
}

.tracking-tool .completed-courses  {
    background-color: #97D312;
    -webkit-border-top-left-radius: 2px;
    border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    border-bottom-left-radius: 2px;
    color: #FFFFFF;
    padding: 3px;
}

.tracking-tool .not-completed-courses  {
    background-color: #EA4052;
    -webkit-border-top-left-radius: 2px;
    border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    border-bottom-left-radius: 2px;
    color: #FFFFFF;
    padding: 3px;
}

.tracking-tool .icon-check  {
    float: right;
}

.tracking-tool .icon-check.icon-check-not-completed  {
    background-color: #A1B5CB;
    -webkit-border-top-right-radius: 2px;
    border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    border-bottom-right-radius: 2px;
    padding-bottom: 4px;
    padding-left: 2px;
    padding-right: 2px;
}

.tracking-tool .icon-check.icon-check-completed  {
    background-color: #63B563;
    -webkit-border-top-right-radius: 2px;
    border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 1px 2px 4px;
}

.tracking-tool .container-weight  {
    float: right;
    width: 70px;
}

.tracking-tool .container-weight span  {
    display: inline-block;
}

.tracking-tool .icon-weight  {
    float: right;
    height: 20px;
    width: 20px;
}

.tracking-tool .container-percent-line  {
    margin-top: 20px;
}

.h2-tracking-tool  {
    position: relative;
    width: fit-content;
}

.tracking-tool.tooltip {
    border-radius: 50%;
    color: #516583;
    display: block;
    font-size: 14px;
    height: 20px;
    position: absolute;
    right: -30px;
    top: -5px;
    width: 20px;
}

.tracking-tool.tooltip > img {
    height: 20px;
    width: 20px;
}

.tracking-tool.tooltip .tracking-tool.tooltiptext {
    border: 1px solid #516583;
    border-radius: 6px;
    background-color: #E3E8EE;
    color: #516583;
    position: absolute;
    text-align: center;
    visibility: hidden;
    width: 280px;
    z-index: 1;
}

.tracking-tool.tooltip:hover .tracking-tool.tooltiptext {
    padding: 20px;
    visibility: visible;
}

.tracking-tool.tooltiptext > span {
    display: block;
    text-align: left;
}

.tracking-tool.tooltiptext span {
    font-size: 12px;
}

.tracking-tool.tooltiptext > span:nth-child(1) {
    padding-left: 24px;
}

.tracking-tool.tooltiptext > span:nth-child(3) {
    padding-left: 24px;
}

.tracking-tool.tooltiptext > span:nth-child(5) {
    padding-left: 24px;
}

.tracking-tool.tooltiptext > span:nth-child(9) {
    padding-left: 24px;
}

.tracking-tool.tooltiptext span.container-img {
    display: inline-block;
    margin-right: 5px;
}

.tracking-tool.tooltiptext .legend-text  {
    margin-left: 7px;
}

.tracking-tool.tooltiptext span.container-percent {
    background-color: #97D312;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #FFFFFF;
    font-weight: normal;
    font-size: 10px;
    margin-right: 5px;
    padding: 2px;
}

.tracking-tool.tooltiptext span.container-img-passed {
    background-color: #63B563;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    display: inline-block;
    margin-right: 5px;
}

.tracking-tool.tooltiptext span.container-img img {
    height: 18px;
    width: 18px;
}

.tracking-tool.tooltiptext span.container-img-passed img {
    height: 14px;
    width: 14px;
}

.tracking-tool.tooltiptext img {
    display: inline-block;
    float: left;
}

.tracking-tool.tooltiptext .legend {
    display: inline-block;
    font-size: 14px;
    padding-left: 20px;
    text-align: left;
}

.tracking-tool.tooltiptext .icon-legend  {
    height: 20px;
    width: 20px;
}

.tracking-tool.tooltiptext .font-bold  {
    font-weight: bold;
}

.tracking-tool.tooltiptext .font-normal  {
    font-weight: normal;
}

.container-tracking-tool .print-button-hidden  {
    display: none;
}

.container-tracking-tool .modal-dialog form button:nth-child(2)  {
    display: none;
}

.container-tracking-tool .modal-dialog fieldset[data-il-ui-input-name="form/ementoring"] label  {
    font-weight: bold;
}

.container-tracking-tool .modal-dialog fieldset[data-il-ui-input-name="form/homework"]  {
    display: none;
}

.container-tracking-tool .modal-dialog fieldset[data-il-ui-input-name="form/individual_assesments"]  {
    display: none;
}

.container-tracking-tool .modal-dialog fieldset[data-il-ui-input-name="form/sessions"]  {
    display: none;
}

.container-tracking-tool .entry-test  {
    padding-top: 50px;
}

.container-tracking-tool .icon-file  {
    float: right;
    height: 100px;
    width: 50px;
}

.container-tracking-tool .container-initial-test-button  {
    border-top: 1px solid #A2BAE1;
    margin-top: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.container-tracking-tool .container-initial-test-button a:link  {
    color: #A2BAE1;
}